.head-block{
    height:200px;
    background:url(images/head.jpg)left center no-repeat;
}

.top-menu{
  float: none;
  text-align: center;
font-family: Webdings, Garamond, Times New Roman, Sans;
}
.top-menu ul{
    padding-left:0;
    margin-bottom:0;
font-family: Webdings, Garamond, Times New Roman, Sans;
}
.top-menu li{
    display:inline-block;
    margin-left:10px;
    padding:10px;
    font-family: Webdings, Garamond, Times New Roman, Sans;
}

.left-sidebar {
	background: #FFFFCC;
	padding: 0px 10px 10px 10px;
	font-family: Webdings, Garamond, Times New Roman, Sans;
	font-size: 15px;
}

.my-content {
	background: #FFCCFF;
	padding: 0px 10px 10px 10px;
	font-family: Webdings, Garamond, Times New Roman, Sans;
	font-size: 20px;
}

.footer {
	background: #999933;
    text-align: center;
    padding: 0px 10px 10px 10px;
    font-family: Webdings, Garamond, Times New Roman, Sans;
}


