.searchform {
  display: inline-block;
  zoom: 1; /* ie7 хак для display:inline-block */
  display: inline;
}

#places{
  float:right;
  margin-top:2px;
  margin-right:2px;}

  .searchform input {
    font: normal 12px/100% Arial, Helvetica, sans-serif;/*Шрифт строки поиска*/
  }



  .searchform .searchfield {
    background: #FFFFCC;/*фон строки поиска*/
    padding: 6px 6px 6px 8px;/*размер*/
    width: 202px;/*размер*/
    font-family: Webdings, Garamond, Times New Roman, Sans;

}


.searchform .searchbutton {
    color:#000;/*Цвет текста кнопки*/
    font-size: 11px;/*Размер шрифта кнопки*/
    height: 27px;/*высота*/
    width: 80px;/*ширина*/
    background: #CCCCFF;/*Фон кнопки*/
    font-family: Webdings, Garamond, Times New Roman, Sans;
}